
.nav {
  display: flex;
  position: relative;
  z-index: 1;
  justify-content: space-between; /* Changed to space-between for logo alignment */
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: black; /* Dark background color */
  color: #ffffff; /* Light text color */
  padding: 0 20px; /* Added padding */
}

.logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #535bf2; /* Custom logo color */
}

.logo-icon {
  background: linear-gradient(45deg, #2c2f33, #535bf2); /* Gradient color for the logo icon */
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  margin-right: 10px;
  font-size: 20px;
}

.links {
  display: flex;
  justify-content: center;
  gap: 45px;
  font-size: 1rem;
}
.nav h1{
  margin-right: auto;
  margin-left: 30px;
  color: white;
}
/* .links{
  display: flex;
  justify-content: center;
  gap: 45px;
  font-size: 1rem;
  margin-right:50px ;
} */

.join{
    display: flex;
    gap: 15px;
    align-items: center;
    margin: 20px;
    font-size: 1em;
}
.bsignup{
    height: 32px;
    border: 1px solid #2196F3;
    padding: 3px 0px;
    background-color: transparent;
    width: 63px;
  }
.bsignup:hover{
    background-color: #2196F3;
  }
.blogin{
    background-color: transparent;
    width: 62px;
    height: 32px;
  }
  .vertical-line{
    width: 1.5px;
    border-radius: 20px;
    background-color: gray;
    height: 24px;
    margin-right:4px ;
  }

  .connection_nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-right: 20px;
  }
  .userNavPicture{
    border: 1px solid white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    position: relative;
  }
  .userNavName{
    font-size: 0.9rem;
    color: white;
    font-weight: 600;
  }
  .Notif_Icon{
    color: white;
    width: 20px;
    height:20px;
    margin-right: 8px;
    position: relative;
  }
  .toggel-btn {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: 15px;
    display: none;
  }
  
  @media (max-width: 768px) {
    .links, .join{
      display: none;
    }
    .nav {
      padding: 0px 10px;
    }

    .drop_menu,.toggel-btn{
      display: block;
    }
  }