@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
 
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
